<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio Searcher</title>
    <link rel="shortcut icon" href="/Content/img/favicon.ico" />
    <link rel="stylesheet" href="/Content/font-awesome-4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    <script>
            function Spinner(){
                document.getElementById('spin').style = 'visibility:visible;';
            }
    </script>
</head>
<body>
    @RenderBody()
    <script src="/Content/jquery-3.3.1.min.js"></script>
    <script src="/Content/scroll.js"></script>
</body>
</html>
